#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/41f4bf74-792d-45dc-ba36-664ac719327b/ # 
title: MS3 Contact API
description: The API allows users to request, create, update and delete contacts.
version: 1.0.0
protocols:
  - HTTP
  - HTTPS
mediaType: [ application/json ]
securitySchemes:

/contacts:
  get:
    queryParameters:
      firstName: 
        required: true
      lastName:
        required: true
    responses:
      200:
        body:
          application/json:
            type: array
            items: !include dataTypes/contact.raml
            example: !include examples/contacts.json        
  post:
    body:
      application/json:
        type: !include dataTypes/contact.raml
        example: !include examples/contact.json
    responses:
      201:
        body:
          application/json:
            example: |
              {"message": "Contact added."}
  delete:
    queryParameters:
      firstName:
        required: true
      lastName:
        required: true
    responses:
      200:
        body:
          application/json:
            example: |
              {"message": "Contact removed."}
  /{ID}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include examples/contact.json
    put:
      body:
            application/json:
              type: !include dataTypes/contact.raml
              example: !include examples/contact.json
      responses:
        200:
          body:
            application/json:
              example:
                {"message": "Contact Updated."}
    delete:
      responses:
        200:
          body:
            application/json:
              example:
                {"message": "Contact removed."}
            
    
